body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(/assets/images/glass-window-covered-raindrops-with-lights-blurry-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  width: 50%;
  max-height: 95%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 20px;
}

.form {
  display: flex;
}

button, input {
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  border: 1px solid #9ecffa;
  border-radius: 5px;
  outline: none;
}

button {
  color: #9ecffa;
}

input { 
  width: 75%;
  margin: 1em;
  color: #fafafa;
}