/* Main body */

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(/assets/images/glass-window-covered-raindrops-with-lights-blurry-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Play', sans-serif;
  color: #9ecffa;
}

/* Main weather card */

.card {
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  width: 50%;
  max-width: 420px;
  max-height: 95%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 20px;
  box-shadow: 0 0 30px #000;
}

/* Main city input form */

.form {
  display: flex;
}

button, input {
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  border: 1px solid #9ecffa;
  border-radius: 5px;
  outline: none;
  font-family: 'Play', sans-serif;
}

button {
  color: #9ecffa;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input { 
  width: 75%;
  margin: 1em;
  color: #fafafa;
  font-size: 1em;
}

button:hover {
  color: #fafafa;
  border: 1px solid #fafafa;
}

/* Weather card info */

#weatherInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city {
  text-transform: capitalize;
}

.icon {
  filter: drop-shadow(0 0 20px #9ecffa);
}

p {
  margin: 0;
  padding: 0.5em;
}

/* Forecast card info */

.forecastInfo {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  justify-content: space-evenly;
  margin: 0.5em;
}

.forecast-day {
  width: 100%;
  padding: 0.5em;
  margin: 0.3em 0.5em;
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  border-radius: 20px;
  box-shadow: 0 0 30px #000;
  text-align: center;
}

.forecast-day p {
  margin: 0;
  padding: 0.2em;
}

.forecast-icon {
  filter: drop-shadow(0 0 10px #9ecffa);
}