/* Main body */

body {
  margin: 0;
  padding: 1em 0 2.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background: url(/assets/images/glass-window-covered-raindrops-with-lights-blurry-background.jpg);
  background: url(https://source.unsplash.com/random?landscape);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Play', sans-serif;
  color: #9ecffa;

/* Navigation / About button */

.nav {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
}

.about {
  display: flex;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  box-shadow: 0 0 10px #000;
}

/* Main weather card */

main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.card {
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  width: 50%;
  max-width: 420px;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

/* Main city input form */

.form {
  display: flex;
}

button,
input {
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  border: 1px solid #9ecffa;
  border-radius: 5px;
  outline: none;
  font-family: 'Play', sans-serif;
}

button {
  color: #9ecffa;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-icon {
  font-size: 1.5em;
}

input {
  width: calc(100% - 80px);
  margin: 0.5em;
  color: #fafafa;
  font-size: 1em;
}

button:hover {
  color: #fafafa;
  border: 1px solid #fafafa;
}

::placeholder {
  color: #9ecffa;
}

/* Weather card info */

#weatherInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city {
  text-transform: capitalize;
}

.icon {
  filter: drop-shadow(0 0 20px #9ecffa);
}

p {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

/* Forecast card info */

.forecastInfo {
  max-width: 420px;
  justify-content: space-evenly;
  margin: 0.5em;
}

.forecast-day {
  width: 100%;
  padding: 0.5em;
  margin: 0.3em 0.5em;
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
  text-align: center;
}

.forecast-day p {
  margin: 0;
  padding: 0.2em;
}

.forecast-icon {
  filter: drop-shadow(0 0 10px #9ecffa);
}

.description,
.forecast-description {
  text-transform: capitalize;
}

/* Footer */

.footer {
  position: fixed;
  text-align: center;
  bottom: 10px;
  padding: 0.5em;
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}

.footer a {
  color: #9ecffa;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.footer a:hover {
  color: #fafafa;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
  .forecastInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .forecast-day {
    width: 40%;
  }
  
  .footer {
    font-size: 0.75em;
  }
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.content {
  background: linear-gradient(135deg, #7f0ffb, #c27b6f);
  margin: auto;
  padding: 20px;
  border: none;
  width: 50%;
  /* max-width: 420px; */
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.content a {
  color: #9ecffa;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.content a:hover {
  color: #fafafa;
}

.close {
  color: #9ecffa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
}